.promo{
    width:90%;
    height: 70%;
    position: relative;
    margin: 0 auto;
    margin-top: 9%;    
}

.promo-img{    
    width: 100%;
    height: 70vh;    
}

.promo img{
    height: 100%;
    width: 100%;      
}


.move-left a,.move-right a {
    position: absolute;
    top:38%;    
    width:3rem;
    height: 7rem;    
    background: rgba(0, 0, 0, 0.29);
    padding: 1rem;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;  
    cursor: pointer;    
}

.move-right a{
    right:0;
    border-radius: 0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;    
}

.move-left a:hover,.move-right a:hover{
    background: black;
    box-shadow: 1px 1px 10px black;
    transition:0.2s;
}


